<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a routerLink="/clientlistreservation/"> <img alt="image" src="assets/logo.png" class="header-logo" /> <span
            class="logo-name"></span>
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="dropdown active">
          <a routerLink="/clientlistreservation/" class="nav-link"><i data-feather="fa-user"></i><span>DASHBOARD</span></a>
        </li>









        <li class="dropdown">
          <a routerLink="/clientlistreservation/" class="menu-toggle nav-link has-dropdown"><i
              data-feather="briefcase"></i><span>RESERVATIONS</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/clientlistreservation/"> RESERVATIONS</a></li>
            <li><a class="nav-link" routerLink="/clientlistreservation/">new Reservation</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a routerLink="/clientlistnotehotel/" class="menu-toggle nav-link has-dropdown"><i
              data-feather="briefcase"></i><span> HOTEL REVIEW</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/clientlistnotehotel/"> HOTEL REVIEW</a></li>
            <li><a class="nav-link" routerLink="/clientcreernotehotel/">nnew HOTEL REVIEW</a></li>
          </ul>
        </li>




        <li class="dropdown">
          <a routerLink="/" class="menu-toggle nav-link has-dropdown"><i
              data-feather="briefcase"></i><span>LOG OUT</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/">LOG OUT </a></li>
          </ul>
        </li>




      </ul>
    </aside>
  </div>