



<app-headerbyagence></app-headerbyagence>
<app-menubyagence></app-menubyagence>




<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card btn-info">

        <h1>Creer details pour reservation  : </h1>



    </div>
</div>
</div>

<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
    <!-- form card register -->
    <div class="card btn-success">


      <div class="alert alert-success" role="alert">
        
        <h1>{{vauesss}} </h1>
      </div>

      <br><hr>
    </div>
  </div>
  <!-- form card register -->
</div>




<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
<!-- form card register -->
<div class="card">

<div class="row justify-content-center">
<div class="register-reservationDetails">
  <!-- form card register -->
  <div class="card-body">
    <form [formGroup]="reservationDetailsForm" (ngSubmit)="onSubmit()">
      
<div class="row">
  <div class="col">
      <div class="form-group">
        <label for="inputName">ID RESERVATION : </label>
        <!-- error -->

                
      <select class="form-select" formControlName="reservation_id">
        <option *ngFor="let client of reservations; let i = index" value="{{client._id}}">{{client._id}}</option>

      </select>  







      </div>

  </div>
      <div class="col">
      <div class="form-group">
        <label for="inputName">ID CHAMBRE : </label>
        <!-- error -->

                          
      <select class="form-select" formControlName="chambre_id">
        <option *ngFor="let client of chambres; let i = index" value="{{client._id}}">{{client.NumChambre}}</option>

      </select>  








      </div>

  </div>
      <div class="col">

      <div class="form-group">
        <label for="inputName">NOMBRE ADULTE : </label>
        <!-- error -->

        

                          
        <select class="form-select" formControlName="NbrAdulte">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>

        </select>  





      </div>
  </div>
</div>

<div class="row">
  <div class="col">
      <div class="form-group">
        <label for="inputName">NOMBRE ENFANTS : </label>
        <!-- error -->

                                    
          <select class="form-select" formControlName="NbrEnfant" (change)="updateProfilesssss($any($event.target).value)" >
            <option value="">Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="2">3</option>
            <option value="2">4</option>
            <option value="2">5</option>
            <option value="2">7</option>
            <option value="2">8</option>
            <option value="2">9</option>
            

        </select>  








      </div>

  </div>
      <div class="col">

      <div class="form-group">
        <label for="inputName">NOMBRE BEBE : </label>
        <!-- error -->

        


                                    
        <select class="form-select" formControlName="jour">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>

        </select>  






      </div>
  </div>
      <div class="col">
      <div class="form-group">
        <label for="inputName">DEBUT : </label>
        <input class="form-control" type="date" formControlName="debut" />
        <!-- error -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['debut'].errors?.['required']"
          class="alert alert-danger"
        >
        debut est obligatoire.....
        </div>
      </div>

  </div>
</div>
      




<div class="row">
  

  <div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 1  : </label>
        <input class="form-control" type="text" formControlName="ageenfant" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>

<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 2  : </label>
        <input class="form-control" type="text" formControlName="ageenfan2" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant2'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>

<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 3  : </label>
        <input class="form-control" type="text" formControlName="ageenfant3" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant3'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>
<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 4  : </label>
        <input class="form-control" type="text" formControlName="ageenfant4" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant4'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>

<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 5  : </label>
        <input class="form-control" type="text" formControlName="ageenfant5" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant5'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>
<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 6  : </label>
        <input class="form-control" type="text" formControlName="ageenfant6" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant6'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>


<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 7  : </label>
        <input class="form-control" type="text" formControlName="ageenfant7" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant7'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>


<div class="col">
      <div class="form-group">
        <label for="inputName">AGE ENFANT NUM 8  : </label>
        <input class="form-control" type="text" formControlName="ageenfant8" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['ageenfant8'].errors?.['required']"
          class="alert alert-danger"
        >
        age enfant est obligatoire.....
        </div>
      </div>

  </div>




</div>






<div class="row">
  <div class="col">
      <div class="form-group">
        <label for="inputName">FIN : </label>
        <input class="form-control" type="date" formControlName="fin" />
        <!-- error -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['fin'].errors?.['required']"
          class="alert alert-danger"
        >
        fin est obligatoire.....
        </div>
      </div>

  </div>
      <div class="col">
      <div class="form-group">
        <label for="inputName">DEMANDE SPECIALE :</label>
        <input class="form-control" type="text" formControlName="demandeSpeciale" />
        <!-- error -->

        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['demandeSpeciale'].errors?.['required']"
          class="alert alert-danger"
        >
        demandeSpeciale est obligatoire.....
        </div>
      </div>

  </div>
      <div class="col">
      <div class="form-group">
        <label for="inputName">ETAT : </label>
        <input class="form-control" type="text" formControlName="etat" />
        <!-- error -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['etat'].errors?.['required']"
          class="alert alert-danger"
        >
        etat est obligatoire.....
        </div>
      </div>

  </div>
</div>
      

<div class="row">
  <div class="col">

      <div class="form-group">
        <label for="inputName">REMARQUE : </label>
        <input class="form-control" type="text" formControlName="remarque" />
        <!-- error -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && myForm['remarque'].errors?.['required']"
          class="alert alert-danger"
        >
        remarque est obligatoire.....
        </div>
      </div>

  </div>


          <div class="col">
        <div class="form-group">
          <label for="inputName">NOMBRE JOURS : </label>
          <!-- error -->

                                      
          <select class="form-select" formControlName="nbjours">
            <option selected>Select NB jours</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
  
          </select>  

        </div>

    </div>

</div>











      

      
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit">
          VALIDER
        </button>
      </div>
    </form>
  </div>
</div>
<!-- form card register -->
</div>










  
  <br><hr>
</div>
</div>
<!-- form card register -->
</div>















<app-footerbyagence></app-footerbyagence>

