<!DOCTYPE html>
<html>
    
    

<head>
        


    </head>

    <body id="impx-body">
		
		<!-- HEADER -->
		<header id="impx-header" class="uk-box-shadow-small">

			<!-- Top Header -->
			<div class="impx-top-header bg-color-aqua">
				<div class="uk-container uk-container-center">
					
					<div class="uk-grid">
						<!-- header phone -->
						<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
							<div class="impx-top-phone">
								<p><i class="fa fa-phone"></i> TELEPHONE : +71 00 00 00 </p>  
							</div>
						</div><!-- header phone end -->
						<!-- header social media -->
						<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
							<div class="impx-top-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
									<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
									<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
								</ul>
							</div>
						</div><!-- header social media end -->
					</div>

				</div>
			</div>
			<!-- Top Header END -->

			<div class="impx-menu-wrapper uk-box-shadow-small style3 spa" data-uk-sticky="top: .impx-slide-container; animation: uk-animation-slide-top">

				<!-- Mobile Nav Start -->
				<div id="mobile-nav" data-uk-offcanvas="mode: push; overlay: true">
			        <div class="uk-offcanvas-bar">

			            <ul class="uk-nav uk-nav-default">
			                <li class="uk-parent">
			                	<a routerLink="/FrontacceuilComponent/">DASHBOARD</a>
			                	<ul class="uk-nav-sub">
			                		
			                		
			                		
			                	</ul>
			                </li>
			                <li class="uk-parent">
					        	<a routerLink="/Frontroom1Component/" class="uk-navbar-nav-subtitle">CHAMBRES</a>
					        	<ul class="uk-nav-sub">
			                		<li><a routerLink="/Frontroom1Component/">CHAMBRES Style 1</a></li>
			                		<li><a routerLink="/Frontroom2Component/">CHAMBRES Style 2</a></li>
			                		<li><a routerLink="/Frontroom3Component/">CHAMBRES Style 3</a></li>
			                		
			                		
			                	</ul>
			                </li>
				                <li><a routerLink="/FronthotelsComponentComponent/">HOTELS</a></li>
			                <li class="uk-active"><a href="spa.html">Spa</a></li>
			                <li><a routerLink="/FrontactivitesComponent/">Activities</a></li>
			                <li class="uk-parent">
			                	<a href="#">MENU</a>
			                	<ul class="uk-nav-sub">
				                	<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
									<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
									<li><a routerLink="/FrontblogComponent/">ARTICLES</a></li>
									
									<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
									
								</ul>
			                </li>
			                <li><a routerLink="/FrontcontactComponent/">Contact</a></li>
			            </ul>

			        </div>
			    </div>
			    <a href="#mobile-nav" class="uk-hidden@xl uk-hidden@l uk-hidden@m mobile-nav" data-uk-toggle="target: #mobile-nav"><i class="fa fa-bars"></i>Menu</a>
	            <!-- Mobile Nav End -->
	            
				<div class="uk-container uk-container-expand">
					<div data-uk-grid>
						<div class="uk-width-expand impx-navbar-left">
							<nav class="uk-navbar-container uk-navbar-transparent uk-visible@s uk-visible@m" data-uk-navbar>
								<div class="uk-navbar-right">
									<!-- Header Menu Left Items Start -->
								    <ul class="uk-navbar-nav impx-nav">
								    	<!-- Header Menu Left Items Start -->
								    	<li class="uk-parent">
							    			<a routerLink="/FrontacceuilComponent/" class="uk-navbar-nav-subtitle"><div>DASHBOARD<div class="uk-navbar-subtitle">Welcome</div></div></a>
								    		<div class="uk-navbar-dropdown">
                								<ul class="uk-nav uk-navbar-dropdown-nav">
													
													
													
												</ul>
											</div>
								    	</li>
								    	<li>
								        	<a routerLink="/FrontroomComponent/" class="uk-navbar-nav-subtitle"><div>CHAMBRES<div class="uk-navbar-subtitle">Our Best Suites</div></div></a>
											<div class="uk-navbar-dropdown uk-navbar-dropdown-width-4 impx-megamenu" data-uk-drop="boundary: .impx-navbar-right; boundary-align: true; pos: bottom-justify;">
							                    <div class="uk-navbar-dropdown-grid uk-child-width-1-4" data-uk-grid>
							                        <div>
							                            <ul class="uk-nav uk-navbar-dropdown-nav">
							                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 1</li>
							                                <li>
							                                	<a routerLink="/Frontroom1Component/"><img src="front/images/CHAMBRES/room-menu-1.jpg" alt=""></a>
							                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
							                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom1Component/">Visit Page</a>
							                                </li>
							                            </ul>
							                        </div>
							                        <div>
							                            <ul class="uk-nav uk-navbar-dropdown-nav">
							                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 2</li>
							                                <li>
							                                	<a routerLink="/Frontroom2Component/"><img src="front/images/CHAMBRES/room-menu-2.jpg" alt=""></a>
							                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
							                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom2Component/">Visit Page</a>
							                                </li>
							                            </ul>
							                        </div>
							                        <div>
							                            <ul class="uk-nav uk-navbar-dropdown-nav">
							                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 3</li>
							                                <li>
							                                	<a routerLink="/Frontroom3Component/"><img src="front/images/CHAMBRES/room-menu-3.jpg" alt=""></a>
							                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
							                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom3Component/">Visit Page</a>
							                                </li>
							                            </ul>
							                        </div>
							                        <div>
							                        	<div>
							                            	<ul class="uk-nav uk-navbar-dropdown-nav">	
							                            		<li class="uk-nav-header uk-margin-small-bottom uk-text-bold">Room Detail Page</li>
							                            		<li>
						                            				<div class="uk-grid-small" data-uk-grid>
						                            					<div class="uk-width-auto">
							                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
							                            				</div>
							                            				<div class="uk-width-expand">
							                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
							                            					<a href="room-detail.html">Room Detail 1 &raquo;</a>
							                            				</div>	
						                            				</div>
						                            				<div class="uk-grid-small" data-uk-grid>
						                            					<div class="uk-width-auto">
							                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
							                            				</div>
							                            				<div class="uk-width-expand">
							                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
							                            					<a href="room-detail2.html" class="uk-margin-small-top">Room Detail 2 &raquo;</a>
							                            				</div>	
						                            				</div>
							                            				
							                            		</li>
							                            	</ul>
							                            </div>
							                        </div>
							                    </div>
							                </div>
								        </li>
				<li><a routerLink="/FronthotelsComponentComponent/"><div>HOTELS<div class="uk-navbar-subtitle">HOTELS</div></div></a></li>
								        <li class="uk-active"><a href="spa.html"><div>Spa<div class="uk-navbar-subtitle">Our Spa Service</div></div></a></li>
								    </ul>
								    <!-- Header Menu Left Items End -->
							    </div>
							</nav>
						</div>

						<!-- header logo -->
						<div class="uk-width-auto">
							<div class="impx-logo uk-margin-small-top">
								<a href="index.html"><img src="images/logo.png" class="" alt="Logo"></a>
							</div>
						</div>
						<!-- header logo end -->

						<div class="uk-width-expand">
							<nav class="uk-navbar-container uk-navbar-transparent uk-visible@s uk-visible@m" data-uk-navbar>
								<div class="uk-navbar-left">
									<!-- Header Menu Right Items Start -->
								    <ul class="uk-navbar-nav impx-nav">
								    	<li><a routerLink="/FrontactivitesComponent/" class="uk-navbar-nav-subtitle"><div>Activities<div class="uk-navbar-subtitle">Our Facilities</div></div></a></li>
								    	<li><a href="#" class="uk-navbar-nav-subtitle"><div>Blog<div class="uk-navbar-subtitle">Our Latest News</div></div></a></li>
								    	<li class="uk-parent">
							    			<a href="#" class="uk-navbar-nav-subtitle"><div>Pages<div class="uk-navbar-subtitle">the Other Pages</div></div></a>
								    		<div class="uk-navbar-dropdown">
                								<ul class="uk-nav uk-navbar-dropdown-nav">
													<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
													<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
													<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
													
													<li><a href="404.html">404</a></li>
												</ul>
											</div>
								    	</li>
								        <li><a routerLink="/FrontcontactComponent/" class="uk-navbar-nav-subtitle"><div>Contact<div class="uk-navbar-subtitle">RESTER CONNECTE</div></div></a></li>
								    </ul>
								    <!-- Header Menu Right Items End -->
							    </div>
							</nav>
						</div>

					</div>
				</div>
			</div>

		</header>
		<!-- HEADER END -->

		<!-- HERO IMAGE -->
		<div class="impx-slide-container spa hero-spa uk-background-fixed uk-background-center-center uk-height-1-1">
			<div class="impx-overlay"></div>

			<div class="uk-container uk-position-relative uk-height-1-1">
				<div class="uk-position-center uk-flex uk-flex-middle">
					<div class="impx-slide-fw-caption spa">
						<div class="impx-slide-fw-caption-outline center bottom"></div>
			    		<h1 class="uk-margin-remove impx-text-shadow uk-text-center impx-text-white">Oriental Spa</h1><!-- title -->
			    		<p class="uk-text-large impx-text-lighter uk-margin-remove impx-text-shadow uk-text-center uk-text-uppercase">Our Spa Service</p><!-- subtitle -->
		    		</div>
		    	</div>
	    	</div>
		</div>
		<!-- HERO IMAGE END -->

		<!-- HIGHLIGHT -->
		<div class="impx-content style3 uk-padding uk-padding-remove-horizontal pattern-1 bg-color-aqua">
			<div class="uk-container">				

				<!-- welcome intro -->
				<div class="uk-flex-center" data-uk-grid>
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@s">
						<div class="impx-intro uk-text-center uk-light spa">
							<h2 class="uk-margin-small-bottom uk-heading-line line-light"><span>Welcome to Sativa Spa</span></h2>
							<p class="impx-text-large uk-margin-bottom">Beatus autem esse in maximarum rerum timore nemo potest quaerere cum summis doloribus laetitia vacuitas doloris in officio plurimum interest  hoc melius nos veriusque .</p>
						</div>
					</div>
				</div>
				<!-- welcome intro end -->

				<div class="uk-flex-center uk-margin-small" data-uk-grid> 
					<div class="uk-width-3-4@xl uk-width-3-4@l uk-width-3-4@m uk-position-relative uk-position-z-index">
						<!-- highlight items -->
						<ul class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s impx-features-list spa uk-flex-center" data-uk-grid>
							<li><!-- service item #1 -->
								<div class="uk-position-relative">
									<img src="images/spa-feature-1.jpg" alt="resort" class="uk-border-circle uk-box-shadow-medium img-60 img-centered">
									<div class="impx-overlay overlay-outline padding-xxlarge pattern-1 img-60 img-centered">
										<div class="impx-feature-caption">
											<i class="fa fa-star-o fa-2x impx-text-white circle"></i>
											<h5 class="impx-text-white impx-text-shadow uk-margin-small-top uk-margin-remove-bottom">Ayurveda Spa</h5>
										</div>
									</div>
								</div>
							</li><!-- highlight item #1 end -->
							<li><!-- highlight item #2 -->
								<div class="uk-position-relative">
									<img src="images/spa-feature-4.jpg" alt="resort" class="uk-border-circle uk-box-shadow-medium img-60 img-centered">
									<div class="impx-overlay overlay-outline padding-xxlarge pattern-1 img-60 img-centered">
										<div class="impx-feature-caption">
											<i class="fa fa-cutlery fa-2x impx-text-white  circle"></i>
											<h5 class="impx-text-white impx-text-shadow uk-margin-small-top uk-margin-remove-bottom">Luxury Spa</h5>
										</div>
									</div>
								</div>
							</li><!-- highlight item #2 end -->
							<li><!-- highlight item #3 -->
								<div class="uk-position-relative">
									<img src="images/spa-feature-3.jpg" alt="resort" class="uk-border-circle uk-box-shadow-medium img-60 img-centered">
									<div class="impx-overlay overlay-outline padding-xxlarge pattern-1 img-60 img-centered">
										<div class="impx-feature-caption">
											<i class="fa fa-asterisk fa-2x impx-text-white circle"></i>
											<h5 class="impx-text-white impx-text-shadow  uk-margin-small-top uk-margin-remove-bottom">Massage Spa</h5>
										</div>
									</div>
								</div>
							</li><!-- highlight item #3 end -->
						</ul>
						<!-- highlight items -->
					</div>
				</div>

			</div>
		</div>
		<!-- HIGHLIGHT END -->

		<!-- SPA SERVICES -->
		<div class="uk-padding uk-padding-remove-horizontal uk-position-relative impx-sections-spa uk-background-fixed uk-background-center-center uk-height-1-1">
			<div class="impx-overlay dark"></div>
			<div class="uk-container">
					
				<div class="uk-flex-center" data-uk-grid>
					<div class="uk-width-3-5@xl uk-width-3-5@l uk-width-1-1@m uk-width-1-1@s">
						<!-- intro -->
						<div class="impx-intro uk-text-center uk-position-relative uk-position-z-index">
							<h2 class="impx-text-white uk-margin-remove-bottom">Our Spa Services</h2>
						</div>
						<!-- intro end -->
					</div>
				</div>

				<!-- services list -->
				<ul class="uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s data-uk-grid impx-spa-services uk-position-relative uk-position-z-index uk-grid-match uk-margin-bottom" data-uk-grid>
					<li><!-- service item #1 -->
						<div class="impx-spa-service">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s uk-position-relative">
									<div class="uk-height-1-1 uk-cover-container">
										<canvas width="290" height="220"></canvas>
										<img src="images/spa-service-1.jpg" alt="resort" class="" data-uk-cover>
									</div>
								</div>
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
									<div class="impx-spa-content">
										<span class="uk-label uk-label-success small">from $50</span>
										<h4 class="uk-margin-remove">Spa Service</h4>
										<p>Atqui perspicuum est partes opus est exemplis hoc facere</p>
										<ul class="uk-list">
											<li><i class="fa fa-snowflake-o"></i> Quae qui non vident</li>
											<li><i class="fa fa-signing"></i>Tenesne igitur, inquam</li>
											<li><i class="fa fa-hotel"></i>praeclare inter cohaerere</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li><!-- service item #1 end -->
					<li><!-- service item #2 -->
						<div class="impx-spa-service">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s uk-position-relative">
									<div class="uk-height-1-1 uk-cover-container">
										<canvas width="290" height="220"></canvas>
										<img src="images/spa-service-2.jpg" alt="resort" class="" data-uk-cover>
									</div>
								</div>
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
									<div class="impx-spa-content">
										<span class="uk-label uk-label-success small">from $60</span>
										<h4 class="uk-margin-remove">Spa Service</h4>
										<p>Atqui perspicuum est partes opus est exemplis hoc facere</p>
										<ul class="uk-list">
											<li><i class="fa fa-snowflake-o"></i> Quae qui non vident</li>
											<li><i class="fa fa-signing"></i>Tenesne igitur, inquam</li>
											<li><i class="fa fa-hotel"></i>praeclare inter cohaerere</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li><!-- service item #2 end -->
					<li><!-- service item #3 -->
						<div class="impx-spa-service uk-position-relative">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
									<div class="impx-spa-content">
										<span class="uk-label uk-label-success small">from $70</span>
										<h4 class="uk-margin-remove">Spa Service</h4>
										<p>Atqui perspicuum est partes opus est exemplis hoc facere</p>
										<ul class="uk-list">
											<li><i class="fa fa-snowflake-o"></i> Quae qui non vident</li>
											<li><i class="fa fa-signing"></i>Tenesne igitur, inquam</li>
											<li><i class="fa fa-hotel"></i>praeclare inter cohaerere</li>
										</ul>
									</div>
								</div>
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s uk-position-relative">
									<div class="uk-height-1-1 uk-cover-container">
										<canvas width="290" height="220"></canvas>
										<img src="images/spa-service-3.jpg" alt="resort" class="" data-uk-cover>
									</div>
								</div>
							</div>
						</div>
					</li><!-- service item #3 end -->
					<li><!-- service item #4 -->
						<div class="impx-spa-service">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
									<div class="impx-spa-content">
										<span class="uk-label uk-label-success small">from $80</span>
										<h4 class="uk-margin-remove">Spa Service</h4>
										<p>Atqui perspicuum est partes opus est exemplis hoc facere</p>
										<ul class="uk-list">
											<li><i class="fa fa-snowflake-o"></i> Quae qui non vident</li>
											<li><i class="fa fa-signing"></i>Tenesne igitur, inquam</li>
											<li><i class="fa fa-hotel"></i>praeclare inter cohaerere</li>
										</ul>
									</div>
								</div>
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s uk-position-relative">
									<div class="uk-height-1-1 uk-cover-container">
										<canvas width="290" height="220"></canvas>
										<img src="images/spa-service-4.jpg" alt="resort" class="" data-uk-cover>
									</div>
								</div>
							</div>
						</div>
					</li><!-- service item #4 end -->
				</ul>
				<!-- services items end -->
			</div>
		</div>
		<!-- SPA SERVICES END -->

		<!-- PRICING PLANS -->
		<div class="uk-padding">
			<div class="uk-container uk-container-center">

    			<div class="uk-flex-center" data-uk-grid>
    				<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@s">

    					<!-- Intro -->
    					<div class="impx-intro  uk-text-center">
    						<h2 class="uk-margin-remove-bottom">Spa Package Pricing</h2>
    						<p class="impx-text-large uk-margin-medium-bottom uk-margin-small-top impx-margin-bottom-remove">Mauris quis nisi vitae dolor laoreet auris in quam nec diam sagittis aliquet vel molesti turpis eu dolor posuere lacinia penatibus aliquam ut Ita fit cum gravior, tum etiam splendidior oratio</p>
    					</div>
    					<!-- Intro End -->

    				</div>
    			</div>

    			<!-- Services Section -->
    			<div class="uk-flex uk-flex-center uk-margin-small-top uk-margin-medium-bottom impx-margin-bottom-remove">
					<div class="uk-width-3-4@xl uk-width-3-4@l uk-width-1-1@m uk-width-1-1@s">
						<!-- pricing items -->
						<ul class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s uk-grid-collapse impx-promo-pricing-list" data-uk-grid>
							<li><!-- pricing item #1 -->
								<div class="impx-promo-pricing uk-box-shadow-large uk-light">
									<div class=" uk-padding bg-color-aqua">
										<div class="uk-position-relative uk-margin-bottom">
											<img src="images/spa-feature-1.jpg" class="uk-border-circle img-70 img-centered" alt="">
											<div class="impx-overlay overlay-outline padding-xxlarge img-70 img-centered"></div>
										</div>
										<div class="uk-text-center">
											<h4 class="uk-heading-line uk-margin-small-bottom"><span>Silver</span></h4>
								            <span class="uk-label uk-label-success impx-text-aqua uk-text-bold">start from $299</span>
								        </div>
										<ul class="uk-list">
											<li><i class="fa fa-star"></i> Quae qui non vident, nihil</li>
											<li><i class="fa fa-star"></i> praeclare inter se cohaerere</li>
											<li><i class="fa fa-star"></i> Tenesne igitur, inquam</li>
										</ul>
										<div class="uk-text-center">
											<a href="#" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
										</div>
							        </div>
						        </div>
							</li><!-- pricing item #1 end -->
							<li class="uk-position-relative uk-position-z-index"><!-- pricing item #2 -->
								<div class="impx-promo-pricing uk-box-shadow-xlarge uk-light featured">
									<div class="uk-position-relative uk-padding bg-color-gold">
										<div class="uk-position-relative uk-margin-bottom">
											<img src="images/spa-feature-2.jpg" class="uk-border-circle img-70 img-centered" alt="">
											<div class="impx-overlay overlay-outline padding-xxlarge img-70 img-centered"></div>
										</div>
										<div class="uk-text-center">
								            <h3 class="uk-heading-line uk-margin-small-bottom"><span>Gold</span></h3>
								            <span class="uk-label uk-label-success impx-text-gold uk-text-bold">start from $399</span>
								        </div>
										<ul class="uk-list uk-list-large">
											<li><i class="fa fa-star"></i> Quae qui non vident, nihil</li>
											<li><i class="fa fa-star"></i> praeclare inter se cohaerere</li>
											<li><i class="fa fa-star"></i> Tenesne igitur, inquam</li>
										</ul>
										<div class="uk-text-center">
											<a href="#" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
										</div>
							        </div>
						        </div>
							</li><!-- pricing item #2 end -->
							<li class="uk-position-relative"><!-- pricing item #3 -->
								<div class="impx-promo-pricing uk-box-shadow-large uk-light">
									<div class="uk-position-relative uk-padding bg-color-aqua">
										<div class="uk-position-relative uk-margin-bottom">
											<img src="images/spa-feature-3.jpg" class="uk-border-circle img-70 img-centered" alt="">
											<div class="impx-overlay overlay-outline padding-xxlarge img-70 img-centered"></div>
										</div>
										<div class="uk-text-center">
								            <h4 class="uk-heading-line uk-margin-small-bottom"><span>Diamond</span></h4>
								            <span class="uk-label uk-label-success impx-text-aqua uk-text-bold">start from $499</span>
								        </div>
										<ul class="uk-list">
											<li><i class="fa fa-star"></i> Quae qui non vident, nihil</li>
											<li><i class="fa fa-star"></i> praeclare inter se cohaerere</li>
											<li><i class="fa fa-star"></i> Tenesne igitur, inquam</li>
										</ul>
										<div class="uk-text-center">
											<a href="#" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
										</div>
							        </div>
						        </div>
							</li><!-- pricing item #3 end -->
						</ul>
						<!-- pricing items end -->
					</div>
				</div>

    		</div>
		</div>
		<!-- PRICING PLANS END -->

		<!-- THERAPHIST LIST -->
		<div class="uk-padding uk-position-relative uk-background-fixed uk-background-center-center uk-height-1-1 impx-section-therapthist">
			<div class="impx-overlay darker"></div>
			<div class="uk-container uk-container-center">

    			<div class="uk-flex-center" data-uk-grid>
    				<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@s">

    					<!-- Intro -->
    					<div class="impx-intro  uk-text-center uk-position-relative">
    						<h2 class="impx-text-white uk-margin-remove-bottom">Meet Our Therapist</h2>
    						<p class="impx-text-large uk-margin-small-top uk-margin-medium-bottom impx-text-lighter">Mauris quis nisi vitae dolor laoreet auris in quam nec diam sagittis aliquet vel molesti turpis eu dolor posuere lacinia penatibus aliquam ut Ita fit cum gravior, tum etiam splendidior oratio</p>
    					</div>
    					<!-- Intro End -->

    				</div>
    			</div>

    			<div class="uk-flex uk-flex-center uk-margin-small-bottom">
					<div class="uk-width-1-1">
						<!-- Therapists -->
						<ul class="uk-child-width-1-4@xl uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match" data-uk-grid>
							<li><!-- Therapist #1 -->
								<div class="uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge impx-service-card">
									<div class="uk-card-header impx-padding-medium-left impx-padding-medium-right">
								        <div class="uk-flex-middle" data-uk-grid>
								            <div class="uk-width-expand">
								                <h5 class="uk-card-title uk-margin-remove-bottom">Jane Doe</h5>
								            </div>
								            <div class="uk-width-auto">
								                <div class="uk-label small bg-color-aqua">therapist</div>
								            </div>
								        </div>
								    </div>
						        	<div class="uk-card-media-top">
						                <img src="assets/front/images/peoples/therapist-1.jpg" alt="">
						            </div>
						            <div class="uk-card-body impx-padding-medium uk-text-center">
						            	<p>Itaque nostrum est-quod nostrum dico, artis ea principia accepimus.</p>
						            </div>
						        </div>
							</li><!-- Therapist #1 end -->
							<li><!-- Therapist #2 -->
								<div class="uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge impx-service-card">
									<div class="uk-card-header  impx-padding-medium-left impx-padding-medium-right">
								        <div class="uk-flex-middle" data-uk-grid>
								            <div class="uk-width-expand">
								                <h5 class="uk-card-title uk-margin-remove-bottom">Memy Doe</h5>
								            </div>
								            <div class="uk-width-auto">
								                <div class="uk-label small bg-color-aqua">therapist</div>
								            </div>
								        </div>
								    </div>
						        	<div class="uk-card-media-top">
						                <img src="assets/front/images/peoples/therapist-2.jpg" alt="">
						            </div>
						            <div class="uk-card-body impx-padding-medium uk-text-center">
						            	<p>Itaque nostrum est-quod nostrum dico, artis ea principia accepimus.</p>
						            </div>
						        </div>
							</li><!-- Therapist #2 end -->
							<li><!-- Therapist #3 -->
								<div class="uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge impx-service-card">
									<div class="uk-card-header impx-padding-medium-left impx-padding-medium-right">
								        <div class="uk-flex-middle" data-uk-grid>
								            <div class="uk-width-expand">
								                <h5 class="uk-card-title uk-margin-remove-bottom">Melia Doe</h5>
								            </div>
								            <div class="uk-width-auto">
								                <div class="uk-label small bg-color-aqua">therapist</div>
								            </div>
								        </div>
								    </div>
						        	<div class="uk-card-media-top">
						                <img src="assets/front/images/peoples/therapist-3.jpg" alt="">
						            </div>
						            <div class="uk-card-body impx-padding-medium uk-text-center">
						            	<p>Itaque nostrum est-quod nostrum dico, artis ea principia accepimus.</p>
						            </div>
						        </div>
							</li><!-- Therapist #3 end -->
							<li><!-- Therapist #4 -->
								<div class="uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge impx-service-card">
									<div class="uk-card-header impx-padding-medium-left impx-padding-medium-right">
								        <div class="uk-flex-middle" data-uk-grid>
								            <div class="uk-width-expand">
								                <h5 class="uk-card-title uk-margin-remove-bottom">Khiva Doe</h5>
								            </div>
								            <div class="uk-width-auto">
								                <div class="uk-label small bg-color-aqua">therapist</div>
								            </div>
								        </div>
								    </div>
						        	<div class="uk-card-media-top">
						                <img src="assets/front/images/peoples/therapist-4.jpg" alt="">
						            </div>
						            <div class="uk-card-body impx-padding-medium uk-text-center">
						            	<p>Itaque nostrum est-quod nostrum dico, artis ea principia accepimus.</p>
						            </div>
						        </div>
							</li><!-- Therapist #4 end -->
						</ul>
						<!-- Therapists end -->
					</div>
				</div>

    		</div>
		</div>
		<!-- THERAPHIST LIST -->

		<!-- CONTACT SECTION -->
		<div class="impx-contact">
			<div id="impx-gmap"></div>

			<div class="impx-overlay aqua-darkest  uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
				<div class="uk-container">

					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s uk-margin-medium-bottom">
						<!-- Location -->
						<h4 class="impx-text-white">Our Location</h4>
						<p class="impx-text-large impx-text-light">Oculorum, inquit Plato, est in nobis sensus acerrimus, quibus sapientiam non cernimus non semper inquam At enim sequor utilitatem praetermissum in Stoicis?</p>
						<!-- Location End -->
					</div>

					<div data-uk-grid class="uk-padding-remove-bottom"><!-- Address -->
						<div class="uk-light uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
							<h5 class="uk-heading-line uk-margin-remove-bottom impx-text-white"><span>Address</span></h5>
							<p class="impx-text-large uk-margin-top impx-text-light">Jln. Raya Kemerderkaan RI No. 17<br/>Indonesia Raya</p>
						</div><!-- Address End-->
						<div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s"><!-- Phone -->
							<h5 class="uk-heading-line uk-margin-bottom impx-text-white"><span>Phone</span></h5>
							<p class="impx-text-large uk-margin-remove impx-text-light">+62 123456789<br/>+62 987456123</p>
						</div><!-- Phone End -->
						<div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s"><!-- Email -->
							<h5 class="uk-heading-line uk-margin-bottom  impx-text-white"><span>Email</span></h5>
							<a href="mailt:#" class="impx-text-large impx-text-light">cs@sativa-html.com</a><br/>
							<a href="mailt:#" class="impx-text-large impx-text-light">info@sativa-html.com</a>
						</div><!-- Email End -->
					</div>

				</div>
			</div>
		</div>
		<!-- CONTACT SECTION END -->

		<!-- FOOTER -->
		<footer id="impx-footer" class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
			<div class="uk-container">
				<div class="uk-flex uk-flex-center data-uk-grid">
					<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-2-3@m">
						<div class="impx-footer-logo uk-align-center uk-text-center">
							<!-- Footer Logo -->
							<img src="images/logo.png" alt="" class="">
							<!-- Footer Note -->
							<p class="uk-margin-bottom">Erit enim mecum, si tecum erit. Re mihi non aeque satisfacit, et quidem locis dissimile homini. Intrandum est igitur in rerum naturam et penitus quid ea postulet.</p>							
							<!-- Site Copyright -->
							<p class="impx-copyright"><a target="_blank" href="https://www.isikef.rnu.tn">PFE RAHMA MANSOURI 2024</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Scroll to Top -->
			<a href="#top" class="to-top fa fa-long-arrow-up" data-uk-scroll></a>
			<!-- Scroll to Top End -->
		</footer>
		<!-- FOOTER END -->


    </body>


</html>