<!DOCTYPE html>
<html>

<head>
        


    </head>

    <body class="impx-body" id="top">
    	
		<!-- HEADER -->
		<header id="impx-header">
			<div>
				<div class="impx-menu-wrapper style2" data-uk-sticky="top: .impx-page-heading; animation: uk-animation-slide-top">

					<!-- Mobile Nav Start -->
					<div id="mobile-nav" data-uk-offcanvas="mode: push; overlay: true">
				        <div class="uk-offcanvas-bar">

				            <ul class="uk-nav uk-nav-default">
				                <li class="uk-parent">
				                	<a routerLink="/FrontacceuilComponent/">DASHBOARD</a>

				                </li>
				                <li class="uk-parent">
						        	<a routerLink="/Frontroom1Component/" class="uk-navbar-nav-subtitle">CHAMBRES</a>
						        	<ul class="uk-nav-sub">
				                		<li><a routerLink="/Frontroom1Component/">CHAMBRES Style 1</a></li>
				                		<li><a routerLink="/Frontroom2Component/">CHAMBRES Style 2</a></li>
				                		<li><a routerLink="/Frontroom3Component/">CHAMBRES Style 3</a></li>
				                		
				                		
				                	</ul>
				                </li>
				                <li><a routerLink="/FronthotelsComponentComponent/">HOTELS</a></li>
				                <li><a routerLink="/FrontspaComponent/">Spa</a></li>
				                <li><a routerLink="/FrontactivitesComponent/">Activities</a></li>
				                <li class="uk-parent uk-active">
				                	<a href="#">MENU</a>
				                	<ul class="uk-nav-sub">
					                	<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
										<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
										<li><a routerLink="/FrontblogComponent/">ARTICLES</a></li>
										
										<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
										
									</ul>
				                </li>
				                <li><a routerLink="/FrontcontactComponent/">Contact</a></li>
				            </ul>

				        </div>
				    </div>
				    <a href="#mobile-nav" class="uk-hidden@xl uk-hidden@l uk-hidden@m mobile-nav" data-uk-toggle="target: #mobile-nav"><i class="fa fa-bars"></i>Menu</a>
		            <!-- Mobile Nav End -->

		            <!-- Top Header -->
					<div class="impx-top-header style2">
						<div class="uk-container uk-container-expand">							
							<div class="uk-grid">
								<!-- header phone -->
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
									<div class="impx-top-phone">
										<p><i class="fa fa-phone"></i> TELEPHONE : +71 00 00 00 </p>  
									</div>
								</div><!-- header phone end-->
								<!-- header social media -->
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
									<div class="impx-top-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
											<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
											<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
										</ul>
									</div>
								</div><!-- header social media end -->
							</div>
						</div>
					</div>
					<!-- Top Header End -->

					<div class="uk-container uk-container-expand">
						<div data-uk-grid>

							<!-- Header Logo -->
							<div class="uk-width-auto">
								<div class="impx-logo">
									<a href="index.html"><img src="images/logo.png" class="" alt="Logo"></a>
								</div>
							</div>
							<!-- Header Logo End-->

							<!-- Header Navigation -->
							<div class="uk-width-expand uk-position-relative">								
								<nav class="uk-navbar-container uk-navbar-transparent uk-visible@s uk-visible@m" data-uk-navbar>
									<div class="uk-navbar-right impx-navbar-right">

	        							<ul class="uk-navbar-nav impx-nav style2">
											<!-- Navigation Items -->
									    	<li class="uk-parent">
								    			<a routerLink="/FrontacceuilComponent/" class="uk-navbar-nav-subtitle"><div>DASHBOARD<div class="uk-navbar-subtitle">Welcome</div></div></a>
									    		<div class="uk-navbar-dropdown">
	                								<ul class="uk-nav uk-navbar-dropdown-nav">
														
														
														
													</ul>
												</div>
									    	</li>
									    	<li>
									        	<a routerLink="/FrontroomComponent/" class="uk-navbar-nav-subtitle"><div>CHAMBRES<div class="uk-navbar-subtitle">Our Best Suites</div></div></a>
												<div class="uk-navbar-dropdown uk-navbar-dropdown-width-4 impx-megamenu" data-uk-drop="boundary: .impx-navbar-right; boundary-align: true; pos: bottom-justify;">
								                    <div class="uk-navbar-dropdown-grid uk-child-width-1-4" data-uk-grid>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 1</li>
								                                <li>
								                                	<a routerLink="/Frontroom1Component/"><img src="front/images/CHAMBRES/room-menu-1.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom1Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 2</li>
								                                <li>
								                                	<a routerLink="/Frontroom2Component/"><img src="front/images/CHAMBRES/room-menu-2.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom2Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 3</li>
								                                <li>
								                                	<a routerLink="/Frontroom3Component/"><img src="front/images/CHAMBRES/room-menu-3.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom3Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                        	<div>
								                            	<ul class="uk-nav uk-navbar-dropdown-nav">	
								                            		<li class="uk-nav-header uk-margin-small-bottom uk-text-bold">Room Detail Page</li>
								                            		<li>
							                            				<div class="uk-grid-small" data-uk-grid>
							                            					<div class="uk-width-auto">
								                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
								                            				</div>
								                            				<div class="uk-width-expand">
								                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
								                            					<a href="room-detail.html">Room Detail 1 &raquo;</a>
								                            				</div>	
							                            				</div>
							                            				<div class="uk-grid-small" data-uk-grid>
							                            					<div class="uk-width-auto">
								                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
								                            				</div>
								                            				<div class="uk-width-expand">
								                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
								                            					<a href="room-detail2.html" class="uk-margin-small-top">Room Detail 2 &raquo;</a>
								                            				</div>	
							                            				</div>
								                            				
								                            		</li>
								                            	</ul>
								                            </div>
								                        </div>
								                    </div>
								                </div>
									        </li>
				<li><a routerLink="/FronthotelsComponentComponent/"><div>HOTELS<div class="uk-navbar-subtitle">HOTELS</div></div></a></li>
											<li><a routerLink="/FrontspaComponent/"><div>Spa<div class="uk-navbar-subtitle">Our Spa Service</div></div></a></li>
											<li><a routerLink="/FrontactivitesComponent/" class="uk-navbar-nav-subtitle"><div>Activities<div class="uk-navbar-subtitle">Our Facilities</div></div></a></li>
											<li class="uk-parent uk-active">
								    			<a href="#" class="uk-navbar-nav-subtitle"><div>Pages<div class="uk-navbar-subtitle">the Other Pages</div></div></a>
									    		<div class="uk-navbar-dropdown">
	                								<ul class="uk-nav uk-navbar-dropdown-nav">
														<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
														<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
														<li><a routerLink="/FrontblogComponent/">ARTICLES</a></li>
														
														<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
														
													</ul>
												</div>
									    	</li>
									        <li><a routerLink="/FrontcontactComponent/" class="uk-navbar-nav-subtitle"><div>Contact<div class="uk-navbar-subtitle">RESTER CONNECTE</div></div></a></li>
									    </ul>
									    <!-- Navigation Items End -->
									</div>
								</nav>
							</div>
							<!-- Header Navigation End -->

							<!-- Promo Ribbon -->
							<div class="uk-width-auto uk-position-relative">
								<div class="ribbon">
								  <i><span><s></s>30% <span>Off!</span><s></s></span></i>
								</div>
							</div>
							<!-- Promo Ribbon End -->

						</div>
					</div>
				</div>
			</div>

		</header>
		<!-- HEADER END -->

		<!-- PAGE HEADING -->
		<div class="impx-page-heading uk-position-relative blog">
			<div class="impx-overlay dark"></div>
			<div class="uk-container">
				<div class="uk-width-1-1">
					<div class="uk-flex uk-flex-left">
						<div class="uk-light uk-position-relative uk-text-left page-title">
							<h1 class="uk-margin-remove">Blog</h1><!-- page title -->
							<p class="impx-text-large uk-margin-remove">Our Latest News</p><!-- page subtitle -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE HEADING END -->

		<!-- CONTENT -->
		<div class="uk-padding uk-padding-remove-horizontal">
			<div class="uk-container">
				<div data-uk-grid>

					<!-- ARTICLES LIST -->
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s uk-margin-top impx-margin-top-small">

						<div class="uk-card uk-card-default uk-margin-medium-bottom impx-article"><!-- article #1 -->
							<div class="uk-card-body impx-padding-medium">
								<article class="uk-article impx-article-item">
								    <h3 class="uk-article-title"><a class="uk-link-reset" href="single-post.html">Quem Tiberina descensio festo illo die tanto gaudio</a></h3>

								    <p class="uk-article-meta uk-margin-remove-top"><i class="fa fa-user"></i> <a href="#" class="impx-text-aqua">Super User</a> | <i class="fa fa-calendar"></i> 12 April 2018. | <i class="fa fa-tags"></i> <a href="#" class="impx-text-aqua">Blog</a> | <i class="fa fa-commenting"></i> <a class="uk-button uk-button-text impx-text-aqua" href="#">5 Comments</a></p>

								    <img src="images/slideshow/slide-4.jpg" class="uk-margin-small-bottom" alt="">

								    <p class="uk-dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Quasi ego id curem, ludus esset. Nam et a te perfici istam disputationem volo, nec tua mihi oratio longa <a class="uk-button uk-button-text impx-text-aqua" href="#">...Read more &raquo;</a></p>

								</article>
							</div>
						</div><!-- article #1 end -->

						<div class="uk-card uk-card-default uk-margin-medium-bottom impx-article"><!-- article #2 -->
							<div class="uk-card-body impx-padding-medium impx-article-item">
								<article class="uk-article">
								    <h3 class="uk-article-title"><a class="uk-link-reset" href="single-post.html">Sed tamen omne, quod de re bona dilucide, mihi praeclare dici videtur haec uberiora certe sunt</a></h3>

								    <p class="uk-article-meta"><i class="fa fa-user"></i> <a href="#" class="impx-text-aqua">Super User</a> | <i class="fa fa-calendar"></i> 12 April 2018. | <i class="fa fa-tags"></i> <a href="#" class="impx-text-aqua">Blog</a> | <i class="fa fa-commenting"></i> <a class="uk-button uk-button-text impx-text-aqua" href="#">5 Comments</a></p>

								    <img src="images/slideshow/slide-1.jpg" class="uk-margin-small-bottom" alt="">

								    <p class="uk-dropcap">Sarem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Quasi ego Nam et a te perfici istam disputationem volo, nec tua mihi oratio longa videri potest <a class="uk-button uk-button-text impx-text-aqua" href="#">...Read more &raquo;</a></p>

								</article>
							</div>
						</div><!-- article #2 end -->

						<div class="uk-card uk-card-default uk-margin-medium-bottom impx-article"><!-- article #3 -->
							<div class="uk-card-body impx-padding-medium impx-article-item">
								<article class="uk-article">
								    <h3 class="uk-article-title"><a class="uk-link-reset" href="single-post.html">Mihi praeclare dici videtur haec uberiora certe sunt</a></h3>

								    <p class="uk-article-meta"><i class="fa fa-user"></i> <a href="#" class="impx-text-aqua">Super User</a> | <i class="fa fa-calendar"></i> 12 April 2018. | <i class="fa fa-tags"></i> <a href="#" class="impx-text-aqua">Blog</a> | <i class="fa fa-commenting"></i> <a class="uk-button uk-button-text impx-text-aqua" href="#">5 Comments</a></p>

								    <div class="uk-cover-container uk-height-large">
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/OSKJXPLQXzw" allowfullscreen data-uk-cover></iframe>
									</div>

								    <p class="uk-dropcap">Karem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Quasi ego id curem, quid ille aiat aut neget. Ita enim vivunt quidam, ut eorum vita refellatur oratio. Cum praesertim illa perdiscere ludus esset. Nam et a te perfici istam disputationem  <a class="uk-button uk-button-text impx-text-aqua" href="#">...Read more &raquo;</a></p>

								</article>
							</div>
						</div><!-- article #3 end -->

						<!-- blog paging -->
				        <ul class="uk-pagination uk-flex-center impx-pagination" data-uk-margin>
						    <li><a href="#"><span data-uk-pagination-previous></span></a></li>
						    <li class="uk-active"><span>1</span></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#"><span data-uk-pagination-next></span></a></li>
						</ul>
						<!-- blog paging end -->

					</div>
					<!-- ARTICLES LIST -->

					<!-- SIDEBAR -->
					<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s  uk-margin-top">
						
						<!-- Search Widget -->
						<div class="impx-sidebar uk-margin-medium-bottom">
							<form class="uk-search uk-search-default">
						        <a href="#" class="uk-search-icon-flip" data-uk-search-icon></a>
						        <input class="uk-search-input" type="search" placeholder="Search...">
						    </form>
						</div>
					    <!-- Search Widget End -->

						<!-- Popular Posts Widget -->
    					<div class="impx-sidebar uk-margin-large-bottom">
    						<h4 class="uk-heading-line uk-heading-bullet"><span>Most Popular</span></h4>
    						<ul class="impx-popular-news uk-list uk-list-divider uk-list-large">
    							<li>
    								<div class="uk-grid-small" data-uk-grid>
    									<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-6@s">
    										<div class="impx-popular-thumb">
		    									<img src="front/images/CHAMBRES/room-1.jpg" alt="Popular Thumbnail"/>
		    								</div>
    									</div>
    									<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-5-6@s">
    										<h6 class="uk-margin-small-bottom"><a href="single-post.html" class="uk-link-reset">Maximus dolor, inquit, brevis est. Et non ex maxima parte</a></h6>
		    								<ul class="impx-post-meta">
												<li><i class="fa fa-commenting-o"></i> <a href="#">10 Comments</a></li>
											</ul>
    									</div>
    								</div>
								</li>
								<li>
									<div class="uk-grid-small" data-uk-grid>
    									<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-6@s">
    										<div class="impx-popular-thumb">
		    									<img src="front/images/CHAMBRES/room-2.jpg" alt="Popular Thumbnail" />
		    								</div>
    									</div>
    									<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-5-6@s">
    										<h6 class="uk-margin-small-bottom"><a href="single-post.html" class="uk-link-reset">At iam decimum annum in spelunca iacet</a></h6>
		    								<ul class="impx-post-meta">
												<li><i class="fa fa-commenting-o"></i> <a href="#">8 Comments</a></li>
											</ul>
    									</div>
    								</div>
								</li>
								<li>
									<div class="uk-grid-small" data-uk-grid>
    									<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-6@s">
    										<div class="impx-popular-thumb">
		    									<img src="front/images/CHAMBRES/room-3.jpg" alt="Popular Thumbnail" />
		    								</div>
    									</div>
    									<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-5-6@s">
    										<h6 class="uk-margin-small-bottom"><a href="single-post.html" class="uk-link-reset">Sin autem est in ea, quod quidam volunt</a></h6>
		    								<ul class="impx-post-meta">
												<li><i class="fa fa-commenting-o"></i> <a href="#">7 Comments</a></li>
											</ul>
    									</div>
    								</div>
								</li>
								<li>
									<div class="uk-grid-small" data-uk-grid>
    									<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-6@s">
    										<div class="impx-popular-thumb">
		    									<img src="front/images/CHAMBRES/room-4.jpg" alt="Popular Thumbnail" />
		    								</div>
    									</div>
    									<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-5-6@s">
    										<h6 class="uk-margin-small-bottom"><a href="single-post.html" class="uk-link-reset">Sin autem est in ea, quod quidam volunt, nihil impedit</a></h6>
		    								<ul class="impx-post-meta">
												<li><i class="fa fa-commenting-o"></i> <a href="#">7 Comments</a></li>
											</ul>
    									</div>
    								</div>
								</li>
    						</ul>
    					</div>
    					<!-- Popular Posts Widget End -->

						<!-- Categories Widget -->
    					<div class="impx-sidebar uk-margin-large-bottom">
    						<h4 class="uk-heading-line uk-heading-bullet"><span>Categories</span></h4>
    						<ul class="uk-list uk-list-divider impx-cat-list">
    							<li><a href="#">Restaurant</a></li>
    							<li><a href="#">Foods</a></li>
    							<li><a href="#">Hotel</a></li>
    							<li><a href="#">Travelling</a></li>
    							<li><a href="#">Oriental Spa</a></li>
    						</ul>
    					</div>
    					<!-- Categories Widget End -->

    					<!-- Tags Cloud Widget -->
    					<div class="impx-sidebar">
    						<h4 class="uk-heading-line uk-heading-bullet"><span>Tags</span></h4>
    						<ul class="impx-tags-widget">
    							<li><a href="#">Food</a></li>
    							<li><a href="#">Drink</a></li>
    							<li><a href="#">Coffee</a></li>
    							<li><a href="#">Meat</a></li>
    							<li><a href="#">Vegetarian</a></li>
    							<li><a href="#">Dinner</a></li>
    							<li><a href="#">Breafast</a></li>
    							<li><a href="#">Recipes</a></li>
    							<li><a href="#">Lunch</a></li>
    							<li><a href="#">Desserts</a></li>
    							<li><a href="#">Chef</a></li>
    							<li><a href="#">Recommendation</a></li>
    						</ul>
    					</div>
    					<!-- Tags Cloud Widget End -->

					</div>
					<!-- SIDEBAR -->

				</div>
			</div>
		</div>						
		<!-- CONTENT END -->

		<!-- CONTACT INFO -->
		<div class="uk-padding bg-img2 uk-position-relative">
			<div class="impx-overlay dark"></div>
			<div class="uk-container">

				<div data-uk-grid class="uk-padding-remove-bottom uk-position-relative">				
					<div class="uk-light uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-3@s"><!-- address -->
						<h5 class="uk-heading-line uk-margin-remove-bottom"><span>Address</span></h5>
						<p class="impx-text-large uk-margin-top">Jln. Raya Kemerderkaan RI No. 17<br/>Indonesia Raya</p>
					</div>
					<div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-3@s"><!-- phone -->
						<h5 class="uk-heading-line uk-margin-bottom"><span>Phone</span></h5>
						<p class="impx-text-large uk-margin-remove">+62 123456789<br/>+62 987456123</p>
					</div>
					<div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-3@s"><!-- email -->
						<h5 class="uk-heading-line uk-margin-bottom"><span>Email</span></h5>
						<a href="mailt:#" class="impx-text-large">cs@sativa-html.com</a><br/>
						<a href="mailt:#" class="impx-text-large">info@sativa-html.com</a>
					</div>
				</div>

			</div>
		</div>
		<!-- CONTACT INFO END -->

		<!-- FOOTER -->
		<footer id="impx-footer" class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
			<div class="uk-container">
				<div class="uk-flex uk-flex-center data-uk-grid">
					<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-2-3@m">
						<div class="impx-footer-logo uk-align-center uk-text-center">
							<!-- Footer Logo -->
							<img src="images/logo.png" alt="" class="">
							<!-- Footer Note -->
							<p class="uk-margin-bottom">Erit enim mecum, si tecum erit. Re mihi non aeque satisfacit, et quidem locis dissimile homini. Intrandum est igitur in rerum naturam et penitus quid ea postulet.</p>							
							<!-- Site Copyright -->
							<p class="impx-copyright"><a target="_blank" href="https://www.isikef.rnu.tn">PFE RAHMA MANSOURI 2024</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Scroll to Top -->
			<a href="#top" class="to-top fa fa-long-arrow-up" data-uk-scroll></a>
			<!-- Scroll to Top End -->
		</footer>
		<!-- FOOTER END -->


    </body>


</html>