

<div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card ">
  




      </div>
  </div>
  </div>




<div class="navbar-bg btn-info"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
            collapse-btn"> <i data-feather="align-justify"></i></a></li>
      <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
          <i data-feather="maximize"></i>
        </a></li>
      <li>
        <form class="form-inline mr-auto">
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right ">


    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
      class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
      <span class="badge headerBadge1">
       </span> </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
      <div class="dropdown-header">
        All Notifications
        <div class="float-right">
          <a routerLink="/clientlistenotif/">voir les notifications</a>
        </div>
      </div>

      <div class="dropdown-list-content dropdown-list-message"> 
        <a href="#" class="dropdown-item" > 
          <span class="dropdown-item-desc"> 

            <span class="time messege-text">notif.titre</span>
            <span class="time">notif.date</span>
          </span>
        </a>
        
        

      </div>
      <div class="dropdown-footer text-center">
        <a routerLink="/clientlistenotif/">Voir toutes les notifications <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </li>



    <li class="dropdown"><a href="#" data-toggle="dropdown"
        class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
          class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
      <div class="dropdown-menu dropdown-menu-right pullDown">
        <div class="dropdown-title">Welcome clientistrateur</div>





        <div class="dropdown-divider"></div>
        <a routerLink="/" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>

     
<BR><BR> <BR><BR>

<div class="container">



<div class="row ">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h5 class="font-15">CLIENTS</h5>
                <h2 class="mb-3 font-18">{{users.length}}</h2>
                <p class="mb-0"><span class="col-green">10%</span> Increase</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
              <div class="banner-img">
                <img src="assets/img/banner/1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h5 class="font-15">AGENCIES</h5>
                <h2 class="mb-3 font-18">{{users.length}}</h2>
                <p class="mb-0"><span class="col-green">18%</span>
                  Increase</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
              <div class="banner-img">
                <img src="assets/img/banner/3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h5 class="font-15">RESERVATIONS</h5>
                <h2 class="mb-3 font-18">{{reservations.length}}</h2>
                <p class="mb-0"><span class="col-green">42%</span> Increase</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
              <div class="banner-img">
                <img src="assets/img/banner/4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




</div>






