



<app-headerbyagence></app-headerbyagence>
<app-menubyagence></app-menubyagence>




<div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card btn-warning">
  
        <h1>DETAILS : </h1>



      </div>
  </div>
  </div>





<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">

<div class="row justify-content-center">
    <div class="register-criteres">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          
          
<div class="row">
    <div class="col">
          <div class="form-group">
            <label for="inputName">HOTEL DEMANDE : </label>
            <input class="form-control" type="text" formControlName="hotel_id" readonly />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['hotel_id'].errors?.['required']"
            >
            hotel_id is required.
            </div>
          </div>

    </div>
        <div class="col">
          <div class="form-group">
            <label for="inputName">critere</label>
            <input class="form-control" type="text" formControlName="critere" readonly />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['critere'].errors?.['required']"
            >
            critere is required.
            </div>
          </div>

    </div>
        <div class="col">

          <div class="form-group">
            <label for="inputName">VALEUR : </label>
            <input class="form-control" type="text" formControlName="valeur" readonly />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['valeur'].errors?.['required']"
            >
            valeur is required.
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col">
          <div class="form-group">
            <label for="inputName">DESCRIPTION : </label>
            <input class="form-control" type="text" formControlName="description" readonly />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['description'].errors?.['required']"
            >
            description is required.
            </div>
          </div>

    </div>

</div>
  

          
  
          
          <div class="form-group">

          </div>
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>
  
  
  
  
  
  
  


    
    <br><hr>
  </div>
</div>
<!-- form card register -->
</div>


  
  
  
  
  












<app-footerbyagence></app-footerbyagence>

