<!DOCTYPE html>
<html>

<head>


    </head>

    <body class="impx-body" id="top">
    	
		<!-- HEADER -->
		<header id="impx-header">
			<div>
				<div class="impx-menu-wrapper style2" data-uk-sticky="top: .impx-page-heading; animation: uk-animation-slide-top">

					<!-- Mobile Nav Start -->
					<div id="mobile-nav" data-uk-offcanvas="mode: push; overlay: true">
				        <div class="uk-offcanvas-bar">

				            <ul class="uk-nav uk-nav-default">
				                <li class="uk-parent">
				                	<a routerLink="/FrontacceuilComponent/">DASHBOARD</a>

				                </li>
				                <li class="uk-parent">
						        	<a routerLink="/Frontroom1Component/" class="uk-navbar-nav-subtitle">CHAMBRES</a>
						        	<ul class="uk-nav-sub">
				                		<li><a routerLink="/Frontroom1Component/">CHAMBRES Style 1</a></li>
				                		<li><a routerLink="/Frontroom2Component/">CHAMBRES Style 2</a></li>
				                		<li><a routerLink="/Frontroom3Component/">CHAMBRES Style 3</a></li>
				                		
				                		
				                	</ul>
				                </li>
				                <li><a routerLink="/FronthotelsComponentComponent/">HOTELS</a></li>
				                <li><a routerLink="/FrontspaComponent/">Spa</a></li>
				                <li><a routerLink="/FrontactivitesComponent/">Activities</a></li>
				                <li class="uk-parent uk-active">
				                	<a href="#">MENU</a>
				                	<ul class="uk-nav-sub">
					                	<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
										<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
										<li><a routerLink="/FrontblogComponent/">ARTICLES</a></li>
										
										<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
										
									</ul>
				                </li>
				                <li><a routerLink="/FrontcontactComponent/">Contact</a></li>
				            </ul>

				        </div>
				    </div>
				    <a href="#mobile-nav" class="uk-hidden@xl uk-hidden@l uk-hidden@m mobile-nav" data-uk-toggle="target: #mobile-nav"><i class="fa fa-bars"></i>Menu</a>
		            <!-- Mobile Nav End -->

		            <!-- Top Header -->
					<div class="impx-top-header style2">
						<div class="uk-container uk-container-expand">							
							<div class="uk-grid">
								<!-- header phone -->
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
									<div class="impx-top-phone">
										<p><i class="fa fa-phone"></i> TELEPHONE : +71 00 00 00 </p>  
									</div>
								</div><!-- header phone end-->
								<!-- header social media -->
								<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-1@s">
									<div class="impx-top-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
											<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
											<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
										</ul>
									</div>
								</div><!-- header social media end -->
							</div>
						</div>
					</div>
					<!-- Top Header End -->

					<div class="uk-container uk-container-expand">
						<div data-uk-grid>

							<!-- Header Logo -->
							<div class="uk-width-auto">
								<div class="impx-logo">
									<a href="index.html"><img src="images/logo.png" class="" alt="Logo"></a>
								</div>
							</div>
							<!-- Header Logo End-->

							<!-- Header Navigation -->
							<div class="uk-width-expand uk-position-relative">								
								<nav class="uk-navbar-container uk-navbar-transparent uk-visible@s uk-visible@m" data-uk-navbar>
									<div class="uk-navbar-right impx-navbar-right">

	        							<ul class="uk-navbar-nav impx-nav style2">
											<!-- Navigation Items -->
									    	<li class="uk-parent">
								    			<a routerLink="/FrontacceuilComponent/" class="uk-navbar-nav-subtitle"><div>DASHBOARD<div class="uk-navbar-subtitle">Welcome</div></div></a>
									    		<div class="uk-navbar-dropdown">
	                								<ul class="uk-nav uk-navbar-dropdown-nav">
														
														
														
													</ul>
												</div>
									    	</li>
									    	<li>
									        	<a routerLink="/FrontroomComponent/" class="uk-navbar-nav-subtitle"><div>CHAMBRES<div class="uk-navbar-subtitle">Our Best Suites</div></div></a>
												<div class="uk-navbar-dropdown uk-navbar-dropdown-width-4 impx-megamenu" data-uk-drop="boundary: .impx-navbar-right; boundary-align: true; pos: bottom-justify;">
								                    <div class="uk-navbar-dropdown-grid uk-child-width-1-4" data-uk-grid>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 1</li>
								                                <li>
								                                	<a routerLink="/Frontroom1Component/"><img src="front/images/CHAMBRES/room-menu-1.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom1Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 2</li>
								                                <li>
								                                	<a routerLink="/Frontroom2Component/"><img src="front/images/CHAMBRES/room-menu-2.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom2Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                            <ul class="uk-nav uk-navbar-dropdown-nav">
								                                <li class="uk-nav-header uk-text-bold">CHAMBRES Page Style 3</li>
								                                <li>
								                                	<a routerLink="/Frontroom3Component/"><img src="front/images/CHAMBRES/room-menu-3.jpg" alt=""></a>
								                                	<p class="uk-margin-small-bottom uk-margin-small-top impx-hidden-m">emper enim ita adsumit aliquid, quae dederit non</p>
								                                	<a class="uk-button uk-button-default uk-button-small impx-button impx-button-outline aqua small small-border" routerLink="/Frontroom3Component/">Visit Page</a>
								                                </li>
								                            </ul>
								                        </div>
								                        <div>
								                        	<div>
								                            	<ul class="uk-nav uk-navbar-dropdown-nav">	
								                            		<li class="uk-nav-header uk-margin-small-bottom uk-text-bold">Room Detail Page</li>
								                            		<li>
							                            				<div class="uk-grid-small" data-uk-grid>
							                            					<div class="uk-width-auto">
								                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
								                            				</div>
								                            				<div class="uk-width-expand">
								                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
								                            					<a href="room-detail.html">Room Detail 1 &raquo;</a>
								                            				</div>	
							                            				</div>
							                            				<div class="uk-grid-small" data-uk-grid>
							                            					<div class="uk-width-auto">
								                            					<i class="fa fa-check-square-o fa-05x circle impx-text-aqua border-aqua uk-margin-remove uk-visible@m"></i>
								                            				</div>
								                            				<div class="uk-width-expand">
								                            					<p class="uk-margin-remove uk-visible@s impx-hidden-m">Sin tantum modo ad indicia veteris</p>
								                            					<a href="room-detail2.html" class="uk-margin-small-top">Room Detail 2 &raquo;</a>
								                            				</div>	
							                            				</div>
								                            				
								                            		</li>
								                            	</ul>
								                            </div>
								                        </div>
								                    </div>
								                </div>
									        </li>
				<li><a routerLink="/FronthotelsComponentComponent/"><div>HOTELS<div class="uk-navbar-subtitle">HOTELS</div></div></a></li>
											<li><a routerLink="/FrontspaComponent/"><div>Spa<div class="uk-navbar-subtitle">Our Spa Service</div></div></a></li>
											<li><a routerLink="/FrontactivitesComponent/" class="uk-navbar-nav-subtitle"><div>Activities<div class="uk-navbar-subtitle">Our Facilities</div></div></a></li>
											<li class="uk-parent uk-active">
								    			<a href="#" class="uk-navbar-nav-subtitle"><div>Pages<div class="uk-navbar-subtitle">the Other Pages</div></div></a>
									    		<div class="uk-navbar-dropdown">
	                								<ul class="uk-nav uk-navbar-dropdown-nav">
														<li><a routerLink="/FrontaboutComponent/">A PROPOS</a></li>
														<li><a routerLink="/FronttestimonialComponent/">CAS</a></li>
														<li><a routerLink="/FrontblogComponent/">ARTICLES</a></li>
														
														<li><a routerLink="/FrontgalerieComponent/">Galerie</a></li>
														
													</ul>
												</div>
									    	</li>
									        <li><a routerLink="/FrontcontactComponent/" class="uk-navbar-nav-subtitle"><div>Contact<div class="uk-navbar-subtitle">RESTER CONNECTE</div></div></a></li>
									    </ul>
									    <!-- Navigation Items End -->
									</div>
								</nav>
							</div>
							<!-- Header Navigation End -->

							<!-- Promo Ribbon -->
							<div class="uk-width-auto uk-position-relative">
								<div class="ribbon">
								  <i><span><s></s>30% <span>Off!</span><s></s></span></i>
								</div>
							</div>
							<!-- Promo Ribbon End -->

						</div>
					</div>
				</div>
			</div>

		</header>
		<!-- HEADER END -->

		<!-- PAGE HEADING -->
		<div class="impx-page-heading uk-position-relative about">
			<div class="impx-overlay dark"></div>
			<div class="uk-container">
				<div class="uk-width-1-1">
					<div class="uk-flex uk-flex-left">
						<div class="uk-light uk-position-relative uk-text-left page-title">
							<h1 class="uk-margin-remove">About</h1><!-- page title -->
							<p class="impx-text-large uk-margin-remove">The Story About &amp; Who We Are</p><!-- page subtitle -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE HEADING END -->

		<!-- CONTENT -->
		<div class="uk-padding impx-page-content uk-padding-remove-horizontal">
			<div class="uk-container">

				<div class="" data-uk-grid>
					<div class="uk-width-3-5@xl uk-width-3-5@l uk-width-1-1@m">
						<!-- text content -->
						<h2 class="uk-margin-remove">system recommendation d'hotel</h2>
                        <p class="uk-text-muted impx-text-large uk-margin-remove">We're in the business of Hotel & Resort.</p>
                        <p class="impx-text-large">

Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.

                        <p class="uk-margin-bottom data-uk-dropcap">


Les systèmes de recommandation d'hôtels sont des outils qui aident les voyageurs à trouver des hébergements correspondant à leurs besoins et à leurs préférences. Ils utilisent généralement des algorithmes de filtrage collaboratif, de traitement du langage naturel et d'apprentissage automatique pour personnaliser les recommandations en fonction des informations disponibles et des préférences des utilisateurs. 



                        </p>

                        <div class="uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-2@s" data-uk-grid>
                        	<div>
                        		<h6>Avantages</h6><!-- list content #1 -->
								<ul class="uk-list uk-list-bullet impx-list">
									<li>Les systèmes de recommandation collectent des données sur les hôtels, y compris des informations sur leur emplacement, leurs équipements, leurs tarifs, leurs évaluations et leurs commentaires.</li>
									<li>Ils créent des profils utilisateur en collectant des informations sur les préférences et les comportements passés des utilisateurs. Cela peut inclure des données telles que les destinations précédentes, les catégories d'hôtels préférées, les dates de voyage habituelles, le budget, etc.</li>
									<li>Les systèmes de recommandation utilisent souvent des techniques de filtrage collaboratif pour identifier des hôtels qui sont similaires à ceux que l'utilisateur a aimés précédemment, en se basant sur les évaluations et les choix d'autres utilisateurs similaires.</li>
								</ul>
                        	</div>
                        	<div>
                        		<h6>PLUS D'info</h6><!-- list content #2 -->
								<ul class="uk-list uk-list-bullet impx-list">
									<li>Ils analysent les commentaires des utilisateurs sur les hôtels pour extraire des informations sur les caractéristiques spécifiques qui ont été appréciées ou critiquées, comme la propreté, le service, la nourriture, etc.</li>
									<li>Les systèmes de recommandation utilisent des modèles d'apprentissage automatique pour prédire les hôtels qui sont les plus susceptibles de plaire à un utilisateur en fonction de son profil et de ses préférences.</li>
									<li>Les recommandations sont ensuite personnalisées en fonction des préférences spécifiques de l'utilisateur, telles que la localisation de l'hôtel, le type de lit, le budget, etc.</li>
								</ul>
                        	</div>
                        </div>

						<div class="" data-uk-grid><!-- network -->
							<div class="uk-width-1-1">
								<h4 class="uk-heading-line uk-heading-bullet"><span>Our Network</span></h4>
								<div class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-small" data-uk-grid>
									<div><!-- network location #1 -->
										<div class="uk-card uk-card-default color1 uk-light">
											<div class="uk-card-body impx-padding-small">
												<h6>Spain</h6>
												<ul class="uk-list impx-list">
													<li><i class="fa fa-home"></i>Heaven Street 107</li>
													<li><i class="fa fa-phone"></i>1-800-123-4455</li>
													<li><i class="fa fa-envelope"></i>book@sativa-hotel.com</li>
												</ul>
											</div>
										</div>
									</div>
									<div><!-- network location #2 -->
										<div class="uk-card uk-card-default color2 uk-light">
											<div class="uk-card-body impx-padding-small">
												<h6>France</h6>
												<ul class="uk-list impx-list">
													<li><i class="fa fa-home"></i>Heaven Street 107</li>
													<li><i class="fa fa-phone"></i>1-800-123-4455</li>
													<li><i class="fa fa-envelope"></i>book@sativa-hotel.com</li>
												</ul>
											</div>
										</div>
									</div>
									<div><!-- network location #3 -->
										<div class="uk-card uk-card-default color3 uk-light">
											<div class="uk-card-body impx-padding-small">
												<h6>Brazil</h6>
												<ul class="uk-list impx-list">
													<li><i class="fa fa-home"></i>Heaven Street 107</li>
													<li><i class="fa fa-phone"></i>1-800-123-4455</li>
													<li><i class="fa fa-envelope"></i>book@sativa-hotel.com</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- network -->

					</div>

					<div class="uk-width-2-5@xl uk-width-2-5@l uk-width-1-1@m">
						<div class="uk-card uk-card-default uk-card-small uk-margin-bottom">
							<div class="uk-card-body"><!-- image content -->
								<img src="images/about-img-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>						
		<!-- CONTENT -->
		
		<!-- HISTORY LIST -->
		<div class="uk-padding uk-padding-remove-horizontal uk-position-relative bg3 impx-section-history style2 uk-position-relative no-margin uk-background-fixed uk-background-center-center uk-height-1-1">
			<div class="impx-overlay dark"></div>

			<div class="uk-container uk-container-expand uk-position-relative impx-padding-remove-right uk-light">
				<ul class="uk-child-width-1-4@xl uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s history-list" data-uk-grid>
					<li class="uk-padding-large uk-padding-remove-vertical"><!-- history item #1 -->
						<div class="uk-position-relative impx-history-item">
							<h4 class="uk-margin-remove impx-text-aqua">1896</h4>
							<p class="uk-margin-remove impx-text-large impx-text-light">systémes de recommandation des hotels</p>
							<p class="uk-margin-remove-bottom impx-text-lighter">

Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.

						</p>
						</div>
					</li><!-- history item #1 end -->
					<li class="uk-padding-large uk-padding-remove-vertical"><!-- history item #2 -->
						<div class="uk-position-relative impx-history-item">
							<h4 class="uk-margin-remove impx-text-aqua">1927</h4>
							<p class="uk-margin-remove impx-text-large impx-text-light">systémes de recommandation des hotels</p>
							<p class="uk-margin-remove-bottom impx-text-lighter">

Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.

						</p>
						</div>
					</li><!-- history item #2 end -->
					<li class="uk-padding-large uk-padding-remove-vertical"><!-- history item #3 -->
						<div class="uk-position-relative impx-history-item">
							<h4 class="uk-margin-remove impx-text-aqua">1988</h4>
							<p class="uk-margin-remove impx-text-large impx-text-light">systémes de recommandation des hotels</p>
							<p class="uk-margin-remove-bottom impx-text-lighter">
Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.

						</p>
						</div>
					</li><!-- history item #3 end -->
					<li class="uk-padding-large uk-padding-remove-vertical"><!-- history item #4 -->
						<div class="uk-position-relative impx-history-item">
							<h4 class="uk-margin-remove impx-text-aqua">2012 - Present</h4>
							<p class="uk-margin-remove impx-text-large impx-text-light">systémes de recommandation des hotels</p>
							<p class="uk-margin-remove-bottom impx-text-lighter">

Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.



						</p>
						</div>
					</li><!-- history item #4 end-->
				</ul>
			</div>
		</div>
		<!-- HISTORY LIST END -->

		<!-- HIGHLIGT -->
		<div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom about-highlight">
			<div class="uk-container">
				<div class="uk-grid">

					<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-2@m uk-margin-medium-top">
						<img src="images/happy-girl.png" alt="Happy Family" class="">
					</div>

					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-2@m">
						<h3 class="uk-margin-remove-bottom uk-margin-small-top">The Reason Why Choose Us?</h3><!-- title -->
						<p class="impx-text-large uk-margin-medium-bottom uk-margin-small-top">


Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.


					</p>
						<!-- highlight items -->
						<ul class="uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-2@s impx-features-hl uk-margin-top uk-grid-match uk-flex-center uk-margin-medium-bottom" data-uk-grid ><!-- reason items  -->
							<li><!-- reason item #1 -->
								<div class="uk-grid-medium" data-uk-grid>
									<div class="uk-width-auto@xl uk-width-auto@l uk-width-auto@l uk-width-auto@s">
										<i class="fa fa-group fa-2x impx-text-aqua"></i>
									</div>
									<div class="uk-width-expand@xl uk-width-expand@l uk-width-expand@l uk-width-auto@s impx-margin-top-remove">
										<h5 class="uk-margin-remove">Profitez de votre temps</h5>
										<p class="uk-margin-small-top"> 


Collecte de données : Les systèmes de recommandation collectent des données sur les hôtels, y compris des informations sur leur emplacement, leurs équipements, leurs tarifs, leurs évaluations et leurs commentaires.
									</p>
									</div>
								</div>
							</li><!-- reason item #1 end -->
							<li><!-- reason item #2 -->
								<div class="uk-grid-medium" data-uk-grid>
									<div class="uk-width-auto@xl uk-width-auto@l uk-width-auto@l uk-width-auto@s">
										<i class="fa fa-image fa-2x impx-text-aqua"></i>
									</div>
									<div class="uk-width-expand@xl uk-width-expand@l uk-width-expand@l uk-width-auto@s impx-margin-top-remove">
										<h5 class="uk-margin-remove">Profitez de votre temps</h5>
										<p class="uk-margin-small-top"> 

Profil utilisateur : Ils créent des profils utilisateur en collectant des informations sur les préférences et les comportements passés des utilisateurs. Cela peut inclure des données telles que les destinations précédentes, les catégories d'hôtels préférées, les dates de voyage habituelles, le budget, etc.


									</p>
									</div>
								</div>
							</li><!-- reason item #2 end -->
							<li><!-- reason item #3 -->
								<div class="uk-grid-medium" data-uk-grid>
									<div class="uk-width-auto@xl uk-width-auto@l uk-width-auto@l uk-width-auto@s">
										<i class="fa fa-star-o fa-2x impx-text-aqua"></i>
									</div>
									<div class="uk-width-expand@xl uk-width-expand@l uk-width-expand@l uk-width-1-1@s impx-margin-top-remove">
										<h5 class="uk-margin-remove">Profitez de votre temps</h5>
										<p class="uk-margin-small-top"> 

Filtrage collaboratif : Les systèmes de recommandation utilisent souvent des techniques de filtrage collaboratif pour identifier des hôtels qui sont similaires à ceux que l'utilisateur a aimés précédemment, en se basant sur les évaluations et les choix d'autres utilisateurs similaires.

									</p>
									</div>
								</div>
							</li><!-- reason item #3 end -->
							<li><!-- reason item #4 -->
								<div class="uk-grid-medium" data-uk-grid>
									<div class="uk-width-auto@xl uk-width-auto@l uk-width-auto@l uk-width-1-1@s">
										<i class="fa fa-smile-o fa-2x impx-text-aqua"></i>
									</div>
									<div class="uk-width-expand@xl uk-width-expand@l uk-width-expand@l uk-width-auto@s impx-margin-top-remove">
										<h5 class="uk-margin-remove">Profitez de votre temps</h5>
										<p class="uk-margin-small-top">
Traitement du langage naturel (NLP) : Ils analysent les commentaires des utilisateurs sur les hôtels pour extraire des informations sur les caractéristiques spécifiques qui ont été appréciées ou critiquées, comme la propreté, le service, la nourriture, etc.

										</p>
									</div>
								</div>
							</li><!-- reason item #4 end -->
						</ul><!-- reason items end -->
					</div>

				</div>
			</div>
		</div>
		<!-- HIGHLIGT END -->

		<!-- BOOKING FORM -->

		<!-- BOOKING FORM END -->

		<!-- FOOTER -->
		<footer id="impx-footer" class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
			<div class="uk-container">
				<div class="uk-flex uk-flex-center data-uk-grid">
					<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-2-3@m">
						<div class="impx-footer-logo uk-align-center uk-text-center">
							<!-- Footer Logo -->
							<img src="images/logo.png" alt="" class="">
							<!-- Footer Note -->
							<p class="uk-margin-bottom">


Les systèmes de recommandation d'hôtels visent à simplifier le processus de recherche d'hébergement pour les voyageurs en leur fournissant des options qui correspondent à leurs goûts et à leurs besoins. Ils sont largement utilisés par les voyageurs du monde entier pour trouver des hôtels qui correspondent à leurs critères et à leur budget, ce qui facilite la planification de leurs voyages.



						</p>							
							<!-- Site Copyright -->
							<p class="impx-copyright"><a target="_blank" href="https://www.isikef.rnu.tn">PFE RAHMA MANSOURI 2024</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Scroll to Top -->
			<a href="#top" class="to-top fa fa-long-arrow-up" data-uk-scroll></a>
			<!-- Scroll to Top End -->
		</footer>
		<!-- FOOTER END -->


    </body>


</html>