



<app-headerbyadmin></app-headerbyadmin>
<app-menubyadmin></app-menubyadmin>


<div class="container">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card btn-info">
  
        <h1>add new hotel : </h1>



      </div>
  </div>
  </div>



<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
    <!-- form card register -->
    <div class="card btn-success">


      <div class="alert alert-success" role="alert">
        
        <h1>{{vauesss}} </h1>
      </div>

      <br><hr>
    </div>
  </div>
  <!-- form card register -->
</div>




<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">


<div class="row justify-content-center">
  <div class="register-hotels">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="hotelsForm" (ngSubmit)="onSubmit()">
        
        
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputName">Nom</label>
              <input class="form-control" type="text" formControlName="name" />
              <!-- error -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['name'].errors?.['required']"
                class="alert alert-danger"
              >
              Nom est obligatoire
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputName">adresse</label>
              <input class="form-control" type="text" formControlName="adresse" />
              <!-- error -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['adresse'].errors?.['required']"
                class="alert alert-danger"
              >
              adresse est obligatoire.....
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputName">tel</label>
              <input class="form-control" type="text" formControlName="tel" />
              <!-- error -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['tel'].errors?.['required']"
                class="alert alert-danger"
              >
              tel est obligatoire.....
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputName">email</label>
              <input class="form-control" type="text" formControlName="email" />
              <!-- error -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['email'].errors?.['required']"
                class="alert alert-danger"
              >
              Email est obligatoire
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputName">NOMBRE ETOILE</label>
              <!-- error -->

              <select class="form-select" aria-label="Default select example" formControlName="nbetoile">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>


            </div>
          </div>
          
        </div>



        <div class="row">


          <div class="col">
            <div class="form-group">
              <label for="inputName">HOTEL EN PROMOTION</label>
              <!-- error -->

              <select class="form-select" aria-label="Default select example" formControlName="promotion">
                <option value="" selected disabled hidden>selectionner ici</option>
                <option value="1">en promotion</option>
                <option value="2">pas en promotion</option>

              </select>


            </div>
          </div>

        </div>
       

        
        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            VALIDER
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- form card register -->
</div>







    
    <br><hr>
  </div>
</div>
<!-- form card register -->
</div>










<app-footerbyadmin></app-footerbyadmin>

