



<app-headerbyagence></app-headerbyagence>
<app-menubyagence></app-menubyagence>


<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
    <!-- form card register -->
    <div class="card">


      <div class="container"><br><hr>
        <button class="btn btn-lg btn-success" routerLink="/agencecreerreservation/">creer nouvelle reservation</button>&nbsp;
        <button class="btn btn-lg btn-info" (click)="openPDF()">EXPORTER & TELECHARGER  PDF</button>&nbsp;
      </div>
      <br><hr>






    </div>
  </div>
  <!-- form card register -->
</div>

<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
    <!-- form card register -->
    <div class="card btn-info">
      <h1> Liste des réservations</h1>
      <h1> {{reservations.length}}</h1>


    </div>
  </div>
  <!-- form card register -->
</div>







<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">

<div class="container">
    <!-- No data message -->
    <p *ngIf="reservations.length <= 0" class="no-data text-center">There is no reservations added yet!</p>
    <!-- reservations list -->
    <table id="htmlData" class="table table-bordered" *ngIf="reservations.length > 0">
      <thead class="table-success">
        <tr>
          <th scope="col">agency</th>
          <th scope="col">client</th>
          <th scope="col">hotel</th>
          <th scope="col">reservation date </th>
          <th scope="col center">Actions</th>
        </tr>
      </thead>
      <tbody>


              <tr
              *ngFor="
                let reservations of reservations
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >




          <td>{{reservations.agence_id}}</td>
          <td>{{reservations.user_id}}</td>
          <td>{{reservations.hotel_id}}</td>
          <td>{{reservations.date}}</td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/agenceeditreservation/', reservations._id]">
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
            </span>&nbsp;&nbsp;
            <span class="edit" [routerLink]="['/agencedetailreservation/', reservations._id]">
              <button type="button" class="btn btn-info btn-sm">Details</button>
            </span>&nbsp;&nbsp;
            <span class="delete" (click)="removereservations(reservations, i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>&nbsp;&nbsp;
          </td>
        </tr>
      </tbody>
    </table>

            <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>


  </div>


    
    <br><hr>
  </div>
</div>
<!-- form card register -->
</div>


















<app-footerbyagence></app-footerbyagence>

